@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism-okaidia.min.css");

/* globals.css */

/* Light Theme */
html.light {
  --bg-color: #f5f5f4; /* Stone-100 */
  --text-color: #292524; /* Stone-900 */
  --primary-color: #f59e0b; /* Amber-500 */
  --secondary-color: #78350f; /* Amber-800 */
}

/* Dark Theme */
html.dark {
  --bg-color: #292524; /* Stone-900 */
  --text-color: #f5f5f4; /* Stone-100 */
  --primary-color: #78350f; /* Amber-800 */
  --secondary-color: #f59e0b; /* Amber-500 */
}

/* Apply Variables */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Tailwind Components Using Variables */
.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.text-primary {
  color: var(--text-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.prose pre {
  background-color: #1e293b;
  padding: 1.5rem;
  border-radius: 0.375rem;
  overflow-x: auto;
}

.prose code {
  font-family: "Fira Code", monospace;
  color: #e2e8f0;
}
